<?xml version="1.0" ?>
<robot name="rv5as">
    <material name="white">
            <color rgba="1.0 1.0 1.0 1.0"/>
    </material>
    <joint name="Mate1" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="world" />
        <child link="rv5as_base" />
    </joint>
    <joint name="rv5as_hand_flange-to-default_tcp" type="fixed">
        <origin xyz="0 0 0" rpy="0 -0 0" />
        <parent link="rv5as_hand_flange" />
        <child link="rv5as_default_tcp" />
    </joint>
    <joint name="rv5as_joint_1" type="revolute">
        <axis xyz="0 0 1" />
        <limit effort="1" velocity="2.16421" lower="-4.18879" upper="4.18879" />
        <origin xyz="0 0 0" rpy="0 0 0" />         
        <parent link="rv5as_base" />
        <child link="rv5as_shoulder" />
    </joint>
    <joint name="rv5as_joint_2" type="revolute">
        <origin xyz="0 0 0.254" rpy="0 0 0" />    
        <parent link="rv5as_shoulder" />
        <child link="rv5as_upper_arm" />
        <axis xyz="0 1 0" />
        <limit effort="1" velocity="2.16421" lower="-2.58309" upper="2.58309" />
    </joint>
    <joint name="rv5as_joint_3" type="revolute">
        <axis xyz="0 1 0" />
        <limit effort="1" velocity="2.16421" lower="-2.61799" upper="2.61799" />
        <origin xyz="0 0 0.41" rpy="0 0 0" />
        <parent link="rv5as_upper_arm" />
        <child link="rv5as_elbow" />
    </joint>
    <joint name="rv5as_joint_4" type="revolute">
        <axis xyz="0 0 1" />
        <limit effort="1" velocity="3.4383" lower="-3.49066" upper="3.49066" />
        <origin xyz="0 0 0" rpy="0 0 0" />   
        <parent link="rv5as_elbow" />
        <child link="rv5as_forearm" />
    </joint>
    <joint name="rv5as_joint_5" type="revolute">
        <axis xyz="0 1 0" />
        <limit effort="1" velocity="6.21337" lower="-2.0944" upper="2.0944" />
        <origin xyz="0 0 0.5" rpy="0 0 0" />    
        <parent link="rv5as_forearm" />
        <child link="rv5as_wrist" />
    </joint>
    <joint name="rv5as_joint_6" type="revolute">
        <axis xyz="0 0 1" />
        <limit effort="1" velocity="6.28318" lower="-3.49066" upper="3.49066" />
        <origin xyz="0 0 0.125" rpy="0 0 0" />   
        <parent link="rv5as_wrist" />
        <child link="rv5as_hand_flange" />
    </joint>
    <link name="rv5as_base">
        <visual>
            <material name="white"/>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv5as/base.STL" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv5as/base.STL" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="rv5as_default_tcp" />
    <link name="rv5as_shoulder">
        <visual>
            <material name="white"/>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv5as/shoulder.STL" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv5as/shoulder.STL" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="rv5as_upper_arm">
        <visual>
            <material name="white"/>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv5as/upper_arm.STL" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv5as/upper_arm.STL" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="rv5as_elbow">
        <visual>
            <material name="white"/>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv5as/elbow.STL" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv5as/elbow.STL" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="rv5as_forearm">
        <visual>
            <material name="white"/>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv5as/forearm.STL" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv5as/forearm.STL" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="rv5as_wrist">
        <visual>
            <material name="white"/>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv5as/wrist.STL" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv5as/wrist.STL" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="rv5as_hand_flange">
        <visual>
            <material name="white"/>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv5as/hand_flange.STL" scale="1 1 1" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv5as/hand_flange.STL" scale="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="world" />
</robot>
