<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rv7frl">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rv7frl urdf file -->
    <xacro:include filename="$(find melfa_description)/urdf/rv7frl/rv7frl.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="rv7frl.ros2_control.xacro" />


    <xacro:rv7frl_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
