<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rh6frh5520">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rh6frh5520 urdf file -->
    <xacro:include filename="$(find melfa_description)/urdf/rh6frh5520/rh6frh5520.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="rh6frh5520.ros2_control.xacro" />


    <xacro:rh6frh5520_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
